body {
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    background-color: #708090;
    color: white;
}

.imagem {
    width: 400px;
    margin-top: none;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 25px;
}

label {
    font-size: 25px;
}

input {
    width: 200px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}

h2 {
    font-size: 30px;
    color: black;
    text-align: center;
    margin-bottom: 5px;
}

.converter {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #008B8B;
    margin-top: 20px ;
    height: 40px;
    width: 100px;
    border-radius: 1.5em;
    border-width: 0.5px;
    border-color: white;
}
